body {
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   
   .container {
      display: grid;

      .topBar {
         color: white;
         background-color: rgb(37, 37, 63);
         display: flex;
         align-items: center;
         height: 60px;
         width: 1263px;
         

         .home {
            height: 52px;
            
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 2px;
            img {
               max-width: 96px;
               max-height: 56px;
               padding: 2px 6px;
            }
         }
         .home:hover {
            border: 1px solid white;
            border-radius: 2px;
         }

         .location {
            height: 52px;
            
            display: flex;
            width: 140px;
            align-items: center;
            margin-left: 1px;

            .person span {
               margin-left: 0px;
            }

            .person .customer {
               font-size: 12px;
               font-family: Arial, Helvetica, sans-serif;
               white-space: nowrap;
            }

            .person .pin {
               font-size: 14px;
               font-family: Arial, Helvetica, sans-serif;
               white-space: nowrap;
            }

            .img img {
               width: 30px;
               height: 25px;
               padding-left: 0px;
               padding-top: 18px;
               
            }
         }
         .location:hover{
            border: 1px solid white;
            border-radius: 2px;
         }

         .search {
            flex-grow: 1;
            flex-basis: auto;
            display: flex;
            min-width: 400px;
            max-width: 650px;
            padding-left: 6px;
            padding-right: 6px;
            

            .searchBar {
               flex-grow: 1;
               display: flex;
               
               .all {
                  background-color: #ccc;
                  height: 35px;
                  align-self: center;
                  width: 50px;
                  display: flex;
                  border-top-left-radius: 4px;
                  border-bottom-left-radius: 4px;
                  margin-right: -52px;
                  z-index: 1;
                  border: 1px solid red;
                  padding-bottom: 8px;
                  border: none;
                  
                  span {
                     font-size: 12px;
                     font-family: inherit;
                     color: rgb(143, 135, 135);
                     padding-left: 12px;
                     padding-top: 12px;
                     
                  }
   
                  img {
                     width: 12px;
                     height: 12px;
                     padding-top: 15px;
                     padding-left: 7px;
                     padding-right: 7px;
                  }
               }
               input {
                  min-height: 40px;
                  max-height: 46px;
                  min-width: 280px;
                  border: none;
                  display: flex;
                  flex-grow: 1;
                  padding-left: 60px;
                  border-radius: 3px;
               }
               input:focus {
                  outline: none;
                  border: 3px solid orange;
                  border-radius: 3px;
                  overflow: hidden;
                  
               }
               .searchIcon {
                  background-color: rgb(224, 169, 107);
                  height: 40px;
                  min-width: 40px;
                  display: flex;
                  border: none;
                  border-top-right-radius: 4px;
                  border-bottom-right-radius: 4px;
                  justify-content: center;
                  align-items: center;
                  align-self: center;
                  z-index: 1;
                  padding: 2px 2px;
                  margin-left: -51px;
                  overflow: hidden;
                  
                  img {
                     width: 25px;
                     height: 25px;
                     padding: 0px 10px;
                  }
               }
            }
            
         }
         .language {
            height: 52px;
            width: 70px;
            margin-left: 0px;
            
            display: flex;
            align-items: center;
            padding-top: px;
   
            .flag {
               width: 20px;
               margin-left: 10px;
               margin-top: 0px;
            }
            .dropdown {
               width: 16px;
               margin-left: 0px;
            }
         }
         .language:hover{
            border: 1px solid white;
            border-radius: 2px;
         }

         .acc {
            height: 52px;
            width: 120px;
            margin-left: 0px;
            display: flex;
            flex-wrap: wrap;
            
            .span1 {
               align-self: end;
               font-family: inherit;
               font-size: 13px;
               margin-left: 4px;
            }
            .span2 {
               align-self: start;
               font-family: inherit;
               font-size: 14px;
               margin-left: 4px;
            }

            img {
               width: 16px;
               height: 16px;
            }
         }
         .acc:hover{
            border: 1px solid white;
            border-radius: 2px;
         }

         .history {
            height: 52px;
            width: 70px;
            margin-left: 0px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .span1 { 
               align-self: end;
               font-family: inherit;
               font-size: 13px;
               

            }
            .span2 {
               align-self: start;
               font-family: inherit;
               font-size: 14px;
               
            }
         }
         .history:hover{
            border: 1px solid white;
            border-radius: 2px;
         }

         .cart {
            height: 52px;
            width: 60px;
            display: flex;
            justify-content: center;
            
            
            span{
               font-weight: bold;
               font-family: inherit;
               font-size: 25px;
               position: absolute;
               z-index: 1;
               margin-top: 6px;
               margin-left: 4px;
            }

            img {
               width: 50px;
               height: 40px;
               align-self: center;
               position: relative;
            }
         }
         .cart:hover{
            border: 1px solid white;
            border-radius: 2px;
         }
            
      }
      .bottomBar {
         color: white;
         background: rgb(73, 73, 90);
         height: 40px;
         width: 1263px;
         display: flex;
         align-items: center;

         div {
            display: flex;
            height: 36px;
            justify-content: center;
            align-items: center;
            span {
               padding: 0px 8px;
            }

            img{
               width: 30px;
               padding-left: 4px;
               margin-right: -8px;
            }
         }
         div:hover {
            border: 1px solid rgb(255, 255, 255);
            border-radius: 2px;
         }
      }

      .content {
         background-color: rgb(235, 224, 224);
         display: grid;
         grid-template-columns: 20px, 50px 20px;

         .banner {
            display: grid;
            height: 250px;

            .left img {
               max-width: 40px;
               position: absolute;
               z-index: 1;
               margin-top: 90px;
               margin-left: 18px;
               box-shadow: 1px 1px 0.9px white;
            }

            .img img {
               width: 100%;
               position: relative;
            }

            .right img {
               max-width: 40px;
               rotate: 180deg;
               position: absolute;
               z-index: 1;
               margin-top: -419px;
               margin-left: 1200px;
               box-shadow: -1px -1px 0.9px white;
            }
         }

         .amazonLink {
            margin-left: 20px;
            margin-right: 20px;
            
            z-index: 1;

            .link {
               display: flex;
               height: 30px;
               background: white;
               justify-content: center;
               align-items: center;
               font-size: 14px;
            }
         }
         .deals {
            display: flex;
            margin: 20px 20px;
            background-color: transparent;
            z-index: 1;
            justify-content: space-between;

            div{
               
               width: 290px;
               height: 420px;
               background-color: white;
               
               
               img{
                  width: 86%;
                  margin: 10px 20px;
                  display: flex;
                  height: 65%;
                  object-fit: contain;
                  
               }
               h1{
                  margin: 10px 20px;
                  height: 20%;
                  white-space: wrap;
                  overflow: hidden;
               }
            
               a {
                  font-size: 12px;
                  margin: 0px 20px;
                  height: 10%;
               }
            }
         }
         .feature {
            display: flex;
            margin: 20px 20px;
            justify-content: space-between;
            
            div{
               width: 290px;
            }
         }
      }

      .nav {
         color: white;
         background-color: rgb(73, 73, 90);
      }
      
      .services {
         color: white;
         background-color: rgb(37, 37, 63);
      }

      .languages {
         color: white;
         background-color: rgb(37, 37, 63);
      }

      .footer {
         color: white;
         background-color: rgb(26, 26, 40);
      }

      .policy {
         color: white;
         background-color: rgb(26, 26, 40);
      }
   }
}