body {
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;

   .container {
      display: grid;
      flex-shrink: 1;

      .topBar {
         color: white;
         background-color: rgb(37, 37, 63);
         display: flex;
         align-items: center;
         height: 60px;
         width: 1263px;
         

         .home {
            height: 52px;
            border: 1px solid white;
            border-radius: 2px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 2px;
            img {
               max-width: 96px;
               max-height: 56px;
               padding: 2px 6px;
               
            }
         }

         .location {
            height: 52px;
            border: 1px solid white;
            border-radius: 2px;
            display: flex;
            width: 140px;
            align-items: center;
            margin-left: 1px;

            .person span {
               margin-left: 0px;
            }

            .person .customer {
               font-size: 12px;
               font-family: Arial, Helvetica, sans-serif;
               white-space: nowrap;
            }

            .person .pin {
               font-size: 14px;
               font-family: Arial, Helvetica, sans-serif;
               white-space: nowrap;
            }

            .img img {
               width: 30px;
               height: 25px;
               padding-left: 0px;
               padding-top: 18px;
               
            }
         }

         .search {
            flex-grow: 1;
            flex-basis: auto;
            display: flex;
            min-width: 400px;
            max-width: 650px;
            padding-left: 6px;
            padding-right: 6px;
            border: 1px solid white;

            .searchBar {
               flex-grow: 1;
               height: 40px;
               display: flex;
               .all {
                  background-color: white;
                  height: 40px;
                  width: 50px;
                  display: flex;
                  border-top-left-radius: 4px;
                  border-bottom-left-radius: 4px;
                  span {
                     font-size: 12px;
                     font-family: inherit;
                     color: rgb(143, 135, 135);
                     padding-left: 12px;
                     padding-top: 12px;
                     
                  }
   
                  img {
                     width: 12px;
                     height: 12px;
                     padding-top: 15px;
                     padding-left: 7px;
                     padding-right: 7px;
                  }
               }
               input {
                  height: 38px;
                  min-width: 280px;
                  border: none;
                  display: flex;
                  flex-grow: 1;
               }
               input:focus {
                  outline: none;
               }
               .searchIcon {
                  background-color: rgb(224, 169, 107);
                  height: 40px;
                  min-width: 40px;
                  display: flex;
                  border-top-right-radius: 4px;
                  border-bottom-right-radius: 4px;
                  justify-content: center;
                  align-items: center;
                  img {
                     width: 25px;
                     height: 25px;
                     padding: 0px 10px;
                  }
               }
            }
         }
         .language {
            height: 52px;
            width: 70px;
            margin-left: 0px;
            border: 1px solid white;
            display: flex;
            align-items: center;
            padding-top: px;
   
            .flag {
               width: 20px;
               margin-left: 10px;
               margin-top: 0px;
            }
            .dropdown {
               width: 16px;
               margin-left: 0px;
            }
         }

         .acc {
            height: 52px;
            width: 120px;
            border: 1px solid white;
            margin-left: 0px;
            display: flex;
            flex-wrap: wrap;
            
            

            .span1 {
               align-self: end;
               font-family: inherit;
               font-size: 13px;
               margin-left: 4px;
            }
            .span2 {
               align-self: start;
               font-family: inherit;
               font-size: 14px;
               margin-left: 4px;
            }

            img {
               width: 16px;
               height: 16px;
            }
         }

         .history {
            height: 52px;
            width: 70px;
            border: 1px solid white;
            margin-left: 0px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .span1 { 
               align-self: end;
               font-family: inherit;
               font-size: 13px;
               

            }
            .span2 {
               align-self: start;
               font-family: inherit;
               font-size: 14px;
               
            }
         }

         .cart {
            height: 52px;
            width: 60px;
            border: 1px solid white;
            display: flex;
            justify-content: center;
            
            
            span{
               font-weight: bold;
               font-family: inherit;
               font-size: 25px;
               position: absolute;
               z-index: 1;
               margin-top: 6px;
               margin-left: 4px;
            }

            img {
               width: 50px;
               height: 40px;
               align-self: center;
               position: relative;
            }
         }
            
      }
      .bottomBar {
         color: white;
         background: rgb(73, 73, 90);
         height: 40px;
         width: 1263px;
      }

      .content {
         background-color: rgb(176, 40, 40);
         display: grid;
         grid-template-columns: 20px, 50px 20px;

         .banner {
            display: grid;

            .left img {
               max-width: 40px;
               position: absolute;
               z-index: 1;
               margin-top: 90px;
               margin-left: 18px;
            }

            .img img {
               width: 100%;
               position: relative;
            }

            .right img {
               max-width: 40px;
               rotate: 180deg;
               position: absolute;
               z-index: 1;
               margin-top: -419px;
               margin-left: 1200px;
            }
         }
      }

      .nav {
         color: white;
         background-color: rgb(73, 73, 90);
      }
      
      .services {
         color: white;
         background-color: rgb(37, 37, 63);
      }

      .languages {
         color: white;
         background-color: rgb(37, 37, 63);
      }

      .footer {
         color: white;
         background-color: rgb(26, 26, 40);
      }

      .policy {
         color: white;
         background-color: rgb(26, 26, 40);
      }
   }
}