.product{
   box-sizing: border-box;
   display: grid;
   grid-template-columns: 1fr 1fr;
   margin: 10px 10px;
   font-family: Arial, Helvetica, sans-serif;

   .product-img{

      img{
         width: 100%;
      }
   }
   .product-details{
      display: grid;
      grid-template-columns: 3fr 2fr;

      .product-description{
         margin: 10px 20px;
         display: flex;
         flex-direction: column;
         color: rgb(84, 150, 225);

         .product-name{
            font-size: 22px;
            font-weight: 500;
            line-height: 30px;
            color: black;
         }
         .store-link{
            font-size: 15px;
         }
         .rating{
            margin: 4px 0px;
            font-size: 15px;
            display: grid;
            grid-template-columns: 1fr 1fr;

            .stars{
               color: #000;
            }
         }
      }
      .order-description{
         margin: 10px;
         padding: 20px;
         border: 1px solid black;
         display: flex;
         flex-direction: column;
      }
   }
}